*{
    margin: 10px;
    box-sizing: border-box;
}
.box{
    visibility: hidden;
    border-radius: 50%;
    height: 200px;
    width: 200px;       
    will-change: visibility , transform;
    transform: scale(0.1);
    -webkit-transition: all 0.5s ease-in-out ;
    -moz-transition: all 0.5s ease-in-out ;
    transition: all 0.5s ease-in-out ;
    background-color: navy;    
}
.show{
    visibility: visible;
    transform: scale(1);
}